.article {
    background-color: $veryLightGray;

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.875rem;

        @include breakpoint-up(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint-up(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__item {
        border-radius: 0.3125rem;
        background-color: $white;
        box-shadow: 0 3px 12px rgba(0, 0, 0, .2);
        transition: $transition-all;

        &:hover {
            transform: scale(1.06);

            .article__title {
                color: $limeGreen;
                opacity: $opacity;
            }
        }
    }

    &__img {
        height: 12.5rem;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__text {
        padding: 1.875rem 1.5625rem;
        color: $grayishBlue;

		@include breakpoint-up(medium) {
			padding: 1.875rem 1.5625rem;
		}
    }

    &__author {
		margin-bottom: 0.75rem;

        font-size: 0.625rem;
    }

    &__title {
		margin-bottom: 0.5rem;

        font-size: 1.0625rem;
		line-height: 1.2;
		color: $darkBlue;
        transition: $transition-color;
    }

    &__description {
        font-size: 0.8125rem;
    }
}